@import 'base/variables';

* {
    font-family: 'Museo Sans Cyrl 500', sans-serif;
}

.ul_reboot {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.container {
    width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feed';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/up';
@import 'base/media';
