.button {
    width: 153px;
    height: 32px;
    background: #C70101;
    border-radius: 5px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    &_contacts {
        margin-top: 5px;
    }
    &_main {
        margin-top: 65px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
}
